dotfiles/vim/.vim/bundle/
dotfiles/keychain/
dotfiles/ssh/.ssh/arnor*
dotfiles/ssh/.ssh/known_hosts
dotfiles/ssh/.ssh/authorized_keys
dotfiles/vim/.vim
dotfiles/zsh/.zsh_history
dotfiles/zsh/.zsh/cache
dotfiles/hyper/.hyper_plugins/*
assets/.virtualenvs/*
assets/assets*
assets/com.googlecode.iterm2.plist
assets/.zsh-history
scripts/stow-backups/
.DS_Store
dotfiles/ipython/.ipython/profile_default/db/dhist
/dotfiles/ipython/.ipython/profile_default/history.sqlite
/dotfiles/zsh/.omz
assets/plugins
