[user]
	name = Carlos E. Tejada
	email = carlos@carlosetejada.com
	signingkey = ~/.ssh/arnor_signing.pub

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[init]
	defaultBranch = main

[core]
	excludesfile = ~/.gitignore_global
	autocrlf = false
	fsmonitor = true
	untrackedcache = true

[push]
	default = simple
	autoSetupRemote = true

[pull]
	rebase = false

[fetch]
	prune = true
	pruneTags = true

[branch]
	sort = -committerdate

[rebase]
	autoStash = true
	autoSquash = true
	updateRefs = true

[merge]
	conflictstyle = zdiff3

[diff]
	algorithm = histogram
	colorMoved = default
	tool = nvimdiff

[difftool "nvimdiff"]
	cmd = "vi -d -u ~/.vimrc \"$LOCAL\" \"$REMOTE\""

[difftool]
	prompt = false

[rerere]
	enabled = true
	autoupdate = true

[color]
	ui = auto

[column]
	ui = auto

[help]
	autocorrect = prompt

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[alias]
	graphsig = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%C(blue)%x20(%ce)%x20%C(cyan)[sig:%GK%x20%G?]%C(reset)%n%x20%s%n"
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%C(blue)%x20(%ce)%x20%C(cyan)%C(reset)%n%x20%s%n"
	stat = status -sb
	last = log -1 --stat
	unstage = reset HEAD --
	cached = diff --cached
	d = difftool
	c = clone
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	cleanup = !git fetch && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -d 2>/dev/null; true
